@page
@model KalaMarket.Pages.Admin.Comments.DetailsModel
@{
}

@using KalaMarket.Core.ExtensionMethod;
<body>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>

                    نظر : @Model.model.CommentTitle

                </h2>
                <br />
                <br />
            </div>
            <div class="x_content">

                <div class="col-md-12 col-sm-12 col-xs-12">


                    <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <table class="table table-striped table-bordered table-hover" width="100%">
                                <tbody>
                                    <tr>
                                        <td> برای محصول : <a href="/Product/Detail/@Model.model.product.ProductEnTitle">@Model.model.product.ProductFaTitle</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            کاربر : <a href="/Admin/Users/EditUser/@Model.model.UserId">@Model.model.user.Email</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>امتیاز : @Model.model.Score</td>
                                    </tr>
                                    <tr>
                                        <td> تاریخ ثبت : @Model.model.CreateDate.ToShamsi()</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            تایید شده توسط ادمین :
                                            @if (Model.model.IsActive == true)
                                            {
                                                <span class="text-success">تایید شده</span>
                                                <a ThisId="@Model.model.CommentId" ThisName="@Model.model.CommentTitle" class="btn btn-warning btn-xs btnNOK">عدم تایید</a>
                                            }
                                            else
                                            {
                                                <span class="text-danger">تایید نشده</span>
                                                <a ThisId="@Model.model.CommentId" ThisName="@Model.model.CommentTitle" class="btn btn-dark btn-xs btnOK">تایید</a>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            حذف شده :
                                            @if (Model.model.IsDelete == true)
                                            {
                                                <span class="text-success">حذف شده</span>
                                                <a ThisId="@Model.model.CommentId" ThisName="@Model.model.CommentTitle" class="btnRestore"><i class="fa fa-recycle"></i></a>
                                            }
                                            else
                                            {
                                                <span class="text-danger">حذف نشده</span>
                                                <a ThisId="@Model.model.CommentId" ThisName="@Model.model.CommentId" class="btnDelete"><i class="fa fa-trash"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> عنوان نظر : @Model.model.CommentTitle</td>
                                    </tr>



                                </tbody>
                            </table>
                            <p class="text text-justify">
                                @Model.model.CommentDescription
                            </p>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


@section Scripts{
    <script>


            $('.btnOK').click(function () {

            var ThisName = $(this).attr("ThisName");
            var ThisId = $(this).attr("ThisId");

            var GetResult = confirm("آیا نظر " + ThisName + " را تایید می‌کنید؟ ");

            var action = { url: '@Url.Action("OkComment", "Product",new { Area=""})' };

            var model = { 'CommentId': ThisId };

            if (GetResult == true) {
                $.ajax({
                    type: "POST",
                    url: action.url,
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(model)
                }).done(function (result) {
                    if (result != "OK") {
                        console.log(result);
                        alert("عملیات انجام نشد لطفا مجدد تلاش کنید");
                    }
                    else {
                        alert("نظر " + ThisName + " با موفقیت تایید شد!");
                        location.reload();
                    }
                })
            }

            });

            $('.btnNOK').click(function () {

            var ThisName = $(this).attr("ThisName");
            var ThisId = $(this).attr("ThisId");

            var GetResult = confirm("آیا نظر " + ThisName + " را عدم تایید می‌کنید؟ ");

            var action = { url: '@Url.Action("NotOkComment", "Product",new { Area=""})' };

            var model = { 'CommentId': ThisId };

            if (GetResult == true) {
                $.ajax({
                    type: "POST",
                    url: action.url,
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(model)
                }).done(function (result) {
                    if (result != "OK") {
                        console.log(result);
                        alert("عملیات انجام نشد لطفا مجدد تلاش کنید");
                    }
                    else {
                        alert("نظر " + ThisName + " با موفقیت عدم تایید شد!");
                        location.reload();
                    }
                })
            }

            });

            $('.btnDelete').click(function () {

            var ThisName = $(this).attr("ThisName");
            var ThisId = $(this).attr("ThisId");

            var GetResult = confirm("آیا نظر " + ThisName + " را حذف می‌کنید؟ ");

            var action = { url: '@Url.Action("DeleteComment", "Product",new { Area=""})' };

            var model = { 'CommentId': ThisId };

            if (GetResult == true) {
                $.ajax({
                    type: "POST",
                    url: action.url,
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(model)
                }).done(function (result) {
                    if (result != "OK") {
                        console.log(result);
                        alert("عملیات انجام نشد لطفا مجدد تلاش کنید");
                    }
                    else {
                        alert("نظر " + ThisName + " با موفقیت حذف شد!");
                        location.reload();
                    }
                })
            }

            });

         $('.btnRestore').click(function () {

            var ThisName = $(this).attr("ThisName");
            var ThisId = $(this).attr("ThisId");

            var GetResult = confirm("آیا نظر " + ThisName + " را بازگردانی می‌کنید؟ ");

            var action = { url: '@Url.Action("RestoreComment", "Product",new { Area=""})' };

            var model = { 'CommentId': ThisId };

            if (GetResult == true) {
                $.ajax({
                    type: "POST",
                    url: action.url,
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(model)
                }).done(function (result) {
                    if (result != "OK") {
                        console.log(result);
                        alert("عملیات انجام نشد لطفا مجدد تلاش کنید");
                    }
                    else {
                        alert("نظر " + ThisName + " با موفقیت بازگردانی شد!");
                        location.reload();
                    }
                })
            }

            });


    </script>
}

